<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Chime || Brands</title>

    <meta name="author">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="stylesheets/responsive.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="stylesheets/colors/color1.css" id="colors">

    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.css">
    
    <!--font awesome -->
      <link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.min.css">
      
    <!-- Favicon and touch icons  -->
    <link href="icon/apple-touch-icon-48-precomposed.html" rel="apple-touch-icon-precomposed" sizes="48x48">
    <link href="icon/apple-touch-icon-32-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="images/Allthelogo/bell.png" rel="shortcut icon">

    <!--[if lt IE 9]>
        <script src="javascript/html5shiv.js"></script>
        <script src="javascript/respond.min.js"></script>
    <![endif]-->
</head>

<body class="header_sticky">
    <!-- Header -->
       <div class="navbar navbar-default navbar-static-top">
       <div class="container">
           
           <a href="home.html" class="navbar-brand" rel="home">
                                <img src="images/Allthelogo/chimemaybe-black.png" class="chime-logo">
                            </a>
                            
             <button class ="navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                <div class="collapse navbar-collapse navHeaderCollapse mainnav">
                     <ul class="nav navbar-nav navbar-right">
                                    <li>  <a href="home.html">Home</a>                                    </li>
                                    <li class="home"><a href="brand.html">Brand</a></li>
                                    <li><a href="services.html">FAQ</a></li>
                                   <!-- <li><a href="work.html">Case Studies</a>
                                    </li>
                                    <li><a href="contact.html">Contact Us</a></li> -->
                                    <li><a href="signup.html">Sign Up</a></li>
                                    <li><a href="login.html">Login</a></li>
                                </ul>

                </div>
                
       </div>
   </div>
   
    <!-- /.header -->
<section class="flat-row parallax headerbg2">
        
        <div class="container">
            <div class="row">
                
                <div class="page-title-heading" style="text-align:center;  top:25px; width:75%; margin:auto;">
                    <h1 class="intro-header"> Introducing a new way to <span class="blue">increase </span>your reach and <span class="blue">interact</span> with your fans.</h1>
                    </div>
                    <div class="col-md-12" style="text-align:center; margin-top:5%;">
                  <div class="col-md-6 home-bar" >
                       <div class="influencer-button tp-caption sfl flat-button-slider bg-button-slider-32bfc0"  data-x="15" data-y="360" data-speed="1000" data-start="2500" data-easing="Power3.easeInOut"><a href="#">Set Up Your Campaign</a> &nbsp;&nbsp;<i class="fa fa-chevron-right"></i></div>
                        <div class="joinus-button tp-caption sfl flat-button-slider bg-button-slider-32bfc0" style="background: none; " data-x="15" data-y="360" data-speed="1000" data-start="2500" data-easing="Power3.easeInOut"><a href="#whychime">Why? Chime</a></div>

                   </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </section>
    <!-- Slider 
    <div class="tp-banner-container" id="home">
        <div class="tp-banner">
            <ul>
                <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                    <img src="images/slides/bg.jpg" alt="slider-image" />
                    <div class="tp-caption sfl title-slide color-white center" data-x="15" data-y="110" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut">
                        <img src="images/Allthelogo/chime-nobell.png" href="home.html"><br>
                       </div>
                    <div class="tp-caption sfr desc-slide color-white center" data-x="15" data-y="250" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut">
                         Singapore's Original Microinfluencing Platform
                    </div>
                    
                    <!-- mobile devices>
                    <div class="tp-caption element-slider sfb" data-x="850" data-y="180" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut">
                        <img src="images/slides/content2.png" alt="content">
                    </div>

                    <div class="tp-caption element-slider sfb" data-x="715" data-y="320" data-speed="1000" data-start="2500" data-easing="Power3.easeInOut">
                        <img src="images/slides/content2-1.png" alt="content">
                    </div>

                     </li>
            </ul>
        </div>
    </div>
    slider end -->


    <section class="flat-row" style="font-size:1.4em; padding:90px 45px 45px 45px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4"  style="margin-top:-2%; text-align:center;">
                        <img class="brand-chime" src="images/Allthelogo/bell.png" alt="content">
              
                    </div>

                    <div class="col-md-8">
                        <div class="inner-box-about">

                            <div class="title-box">
                                <div class="title" style="font-size:2em;">HOW DOES <span class="blue">CHIME</span> WORK ?</div>
                                <div class="empty-space height30"></div>
                                <p style="font-size:0.9em;">Chime works on the basis of the <span class="blue" style="font-weight:bold;">word of mouth</span> effect. 
                                The idea that a person believes their friend opinion more than a random advertisement 
                                they see on a daily basis.<br /><br /> Here at Chime we leverage on that fact to create a platform where by your brand 
                                name will be <span class="blue"  style="font-weight:bold;"><shared></shared> by the everyday person</span> with great effectiveness.</p><br>
                   
                        
                            
                           

                        </div>
                    </div>


                </div>
            </div>
            <!-- /.container -->
        </section>

    
    <!-- Get audit -->
    <section id="whychime" class="flat-row background-black row-getaudit">
        <div class="row-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-section">
                        <img src="images/Allthelogo/Comp-default.svg" style="height:160px;">
                        <h1 class="title">FOR<span class="white">BRANDS</span></h1>
                        <div class="sub-title">With our Chime platform, reaching your target<br /> audiences have never been this easy.</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="iconbox center circle lagre">
                        <div class="box-header">
                            <img src="images/Allthelogo/community.png" alt="icon" style="height:150px;">
                            <div class="box-title">The <span class="white">Chimer </span>Community</div>
                            
                        </div>
                        <div class="box-content">
                            All you need is to create simple job description for your chimers 
                            and watch your brand name spread across the nation!
                        </div>

                    </div>
                    <!-- /.iconbox -->
                </div>
                <!-- /.col-md-4 -->


                <div class="col-md-4">
                    <div class="iconbox center circle lagre">
                        <div class="box-header">
                            <img src="images/Allthelogo/data.svg" alt="icon" style="height:150px;">
                            <div class="box-title">Deep <span class="white"> Analytics</span> Tools</div>
                            
                        </div>
                        <div class="box-content">
                            We provide data analytics to help you track your reach in real
                            time so you can be up to date with the outcome!
                        </div>
                    </div>
                    <!-- /.iconbox -->
                </div>
                <!-- /.col-md-4 -->

                <div class="col-md-4">
                    <div class="iconbox center circle lagre">
                        <div class="box-header">
                            <img src="images/Allthelogo/share2.png" alt="icon" style="height:150px;">
                            <div class="box-title"><span class="white">Easy</span> And <span class="white">Efficient</span></div>
                            
                        </div>
                        <div class="box-content">
                           With a huge community of chimers as well as an easy to use platform,
                           you don't have to break a sweat to reach the rest of your target audience.               </div>
                    </div>
                    <!-- /.iconbox -->
                </div>
                <!-- /.col-md-4 -->
            </div>
        </div>
    </section>
  




   <!-- Footer -->
    <footer class="footer">
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="widget widget-brand">
                            <div class="logo logo-footer">
                                <a href="#"><img src="images/Allthelogo/chimemaybe-black.png" width="40%"; alt="Good News"></a>
                            </div>
                            <p>Singapore's <span class="blue" style="font-weight:bold;">Original</span> Microinfluencing Platform</p>
                        </div>
                        <!-- /.widget-brand -->
                        <div class="widget widget-social">
                            <h5 class="widget-title">Follow Us</h5>
                            <div class="social-list">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-youtube"></i></a>
                                
                            </div>
                            Email: <a class="email" href="mailto:wearechime@gmail.com?Subject=Hello">Wearechime@gmail.com</a>
                        </div>
                        <!-- /.widget-social -->
                    </div>
                    <!-- /.col-md-4 -->

                    <div class="col-md-4">
                        <div class="widget widget-services clearfix">
                            <h5 class="widget-title">Quick Links</h5>
                            <ul class="one-half">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Brands</a></li>
                                <li><a href="#">Services</a></li>
                              
                            </ul>
                                
                                <ul class="one-half">
                            
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Login</a></li>
                            </ul>
                        
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="widget widget-newsletter">
                            <h5 class="widget-title">Subscribe Newsletter</h5>
                            <p>Get update from headquarters</p>
                            <form method="post" action="#" id="subscribe-form" data-mailchimp="true">
                                <div id="subscribe-content">
                                    <div class="input">
                                        <input type="text" id="subscribe-email" name="subscribe-email" placeholder="Your address e-mail">
                                    </div>
                                    <div class="button">
                                        <button type="button" id="subscribe-button" class="" title="Subscribe now"><i class="fa fa-paper-plane-o"></i></button>
                                    </div>
                                </div>
                                <div id="subscribe-msg"></div>
                            </form>
                        </div>
                        <!-- /.widget-newsletter -->
                    </div>

                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>© Copyright <a href="#"><span class="blue">Chime</span></a> 2016. All Rights Reserved.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.footer-widgets -->
    </footer>

 <a href="#header" class="toTop"> <i class="fa fa-angle-up"></i></a>


 

    </div>

    <!-- Javascript -->
    <script type="text/javascript" src="javascript/jquery.min.js"></script>
    <script type="text/javascript" src="javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascript/jquery.easing.js"></script>
    <script type="text/javascript" src="javascript/jquery-waypoints.js"></script>
    <script type="text/javascript" src="javascript/jquery.cookie.js"></script>
    <script type="text/javascript" src="javascript/jquery.fitvids.js"></script>
    <script type="text/javascript" src="javascript/parallax.js"></script>
    <script type="text/javascript" src="javascript/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="javascript/owl.carousel.js"></script>
    <script type="text/javascript" src="javascript/jquery.flexslider-min.js"></script> 
    <script type="text/javascript" src="javascript/jquery-validate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
  $(document).ready(function(){
   $("a[href='#header']").click(function() {
  $("html, body").animate({ scrollTop: 0 }, "slow");
  return false;
});
});
</script>
     <!--<script type="text/javascript" src="javascript/main.js"></script>-->

   <!-- Revolution Slider -->
    <script type="text/javascript" src="javascript/jquery.themepunch.tools.min.js"></script>
     
    <script type="text/javascript" src="javascript/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="javascript/slider.js"></script> 
</body>

</html>
