<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Chime || Home</title>

    <meta name="author">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="stylesheets/responsive.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="stylesheets/colors/color1.css" id="colors">

    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.css">

    <!--font awesome -->
    <link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- Favicon and touch icons  -->
    <link href="icon/apple-touch-icon-48-precomposed.html" rel="apple-touch-icon-precomposed" sizes="48x48">
    <link href="icon/apple-touch-icon-32-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="images/Allthelogo/bell.png" rel="shortcut icon">

    <!--[if lt IE 9]>
        <script src="javascript/html5shiv.js"></script>
        <script src="javascript/respond.min.js"></script>
    <![endif]-->







</head>

<body class="header_sticky">
    <!-- Header -->
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">

            <a href="home.html" class="navbar-brand" rel="home">
                <img src="images/Allthelogo/chimemaybe-black.png" class="chime-logo">
            </a>

            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

            <div class="collapse navbar-collapse navHeaderCollapse mainnav">
                <ul class="nav navbar-nav navbar-right">
                    <li class="home"> <a href="home">Home</a> </li>
                    <li><a href="brand">Brand</a></li>
                    <li><a href="services">FAQ</a></li>
                    <!-- <li><a href="work.html">Case Studies</a>
                                    </li>
                                    <li><a href="contact.html">Contact Us</a></li> -->
                    <li><a href="signup">Sign Up</a></li>
                    <li><a href="https://wearechime.herokuapp.com/">Login</a></li>

                </ul>

            </div>

        </div>
    </div>

    <!-- /.header -->
    <section class="flat-row parallax headerbg">

        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align:center;">
                    <img src="images/Allthelogo/chime-nobell.png" href="home.html" width="40%" style="border-bottom: 5px solid #facb1b;"><br>
                </div>

                <div class="title-section" style="text-align:center;  top:25px;">
                    <span style="font-size:2em; color:#fff; padding-top:3%;"> A <span class="blue">COMMUNITY</span> FOR SHARING
                    WHAT YOU LOVE</span>
                </div>
                <div class="col-md-12" style="text-align:center; margin-top:5%;">
                    <div class="col-md-6 home-bar">
                        <div class="influencer-button tp-caption sfl flat-button-slider bg-button-slider-32bfc0" data-x="15" data-y="360" data-speed="1000"
                            data-start="2500" data-easing="Power3.easeInOut"><a href="#">Influencer Sign Up</a> &nbsp;&nbsp;<i class="fa fa-chevron-right"></i></div>
                        <div class="joinus-button tp-caption sfl flat-button-slider bg-button-slider-32bfc0" style="background:none;" data-x="15"
                            data-y="360" data-speed="1000" data-start="2500" data-easing="Power3.easeInOut"><a href="#">Brand? Join Us</a></div>

                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- /.container -->
    </section>
    <!-- Slider 
    <div class="tp-banner-container" id="home">
        <div class="tp-banner">
            <ul>
                <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                    <img src="images/slides/bg.jpg" alt="slider-image" />
                    <div class="tp-caption sfl title-slide color-white center" data-x="15" data-y="110" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut">
                        <img src="images/Allthelogo/chime-nobell.png" href="home.html"><br>
                       </div>
                    <div class="tp-caption sfr desc-slide color-white center" data-x="15" data-y="250" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut">
                         Singapore's Original Microinfluencing Platform
                    </div>
                    
                    <!-- mobile devices>
                    <div class="tp-caption element-slider sfb" data-x="850" data-y="180" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut">
                        <img src="images/slides/content2.png" alt="content">
                    </div>

                    <div class="tp-caption element-slider sfb" data-x="715" data-y="320" data-speed="1000" data-start="2500" data-easing="Power3.easeInOut">
                        <img src="images/slides/content2-1.png" alt="content">
                    </div>

                     </li>
            </ul>
        </div>
    </div>
    slider end -->

    <!-- Iconbox -->
    <section class="flat-row">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-section">
                        <!--<i class="fa fa-line-chart" aria-hidden="true"></i>-->
                        <img src="images/Allthelogo/Newer-Bell.svg" style="height:160px;">
                        <h1 class="title">WHAT IS <span class="blue">CHIME</span>?</h1>
                        <span style="font-size: 150%;"> 
                        Chime is a shared community for everyone to engage with the brands they love. Join us to create <span class="blue" style="font-weight:bold;">unique</span>,
                        <span class="blue" style="font-weight:bold;">impactful</span> and <span class="blue" style="font-weight:bold;">genuine</span>content
                        to endorse your favourite brands on Instagram, all while receiving perks for your efforts!


                        </span>
                        </h1>
                    </div>
                </div>
                <!-- /.container -->
    </section>

    <!-- Rule of 5 -->
    <section class="flat-row background-black" style="font-size:1.4em; padding:90px 45px 45px 45px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="images/slides/content2.png" class="media-img-pad" alt="content">
                    <img src="images/slides/content2-1.png" class="media-img-pho" alt="content">
                </div>

                <div class="col-md-6">
                    <div class="inner-box-about">

                        <div class="title-box">
                            <div class="title" style="font-size:2em;">HOW TO BE A<span style="color:#fff;"> CHIMER</span>?</div>
                            <div class="empty-space height30"></div>
                            <p style="font-size:0.9em;">At Chime, we believe you have the power in your voice to create awareness for the brands you
                                love.
                            </p><br/>
                            <p style="font-size:0.9em;">Simply meet these requirements:
                                <br> A <span style="color:#fff; font-weight:bold;">Public Account</span> With At Least:</p>
                        </div>

                        <ul class="flat-list style2" style="font-size:0.8em;">
                            <li><i class="fa fa-bell"></i> 5 Months Of Activtiy</li>
                            <li><i class="fa fa-bell"></i> 50 Instagram Posts </li>
                            <li><i class="fa fa-bell"></i> 500 Followers </li>

                        </ul>



                    </div>
                </div>


            </div>
        </div>
        <!-- /.container -->
    </section>
    <!-- rule of 5 -->
    <section class="flat-row">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-section">
                        <img src="images/Allthelogo/influencer.png" style="height:120px;">
                        <h1 class="title">FOR<span class="blue">CHIMERS</span></h1>
                        <div class="sub-title">Why join our community?</div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="iconbox center circle lagre">
                            <div class="box-header">
                                <img src="images/Allthelogo/paid.svg" alt="icon" style="height:150px;">
                                <div class="box-title">TREAT YOUR<br/> <span class="blue"> WALLET</span><br />
                                    <!-- FOR YOUR <span class="blue">AID</span> --></div>
                            </div>

                            <div class="box-content">
                                You’re just a post away from receiving a small sum of cash for your efforts.
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-4 -->
                    <div class="col-md-4">
                        <div class="iconbox center circle lagre">
                            <div class="box-header">
                                <img src="images/Allthelogo/perks.png" alt="icon" style="height:150px;">
                                <div class="box-title">RECEIVE<span class="blue"> PERKS</span><br /> FOR YOUR<span class="blue"> WORK</span></div>
                            </div>
                            <div class="box-content">
                                As a Chimer, you'll be able to get free products that any influencer would get including free products and passes
                            </div>
                        </div>
                        <!-- /.iconbox -->
                    </div>
                    <!-- /.col-md-4 -->

                    <div class="col-md-4">
                        <div class="iconbox center circle lagre">
                            <div class="box-header">
                                <img src="images/Allthelogo/heart3.png" alt="icon" style="height:150px;">
                                <div class="box-title"><span class="blue">CHIME</span> FOR YOUR <span class="blue"><br />FAVOURITE </span>BRANDS</div>
                            </div>
                            <div class="box-content">
                                If you love it, chime it! Share with your friends why you care for the brands and why you think they deserve a shout out
                                on instagram.
                            </div>
                        </div>
                        <!-- /.iconbox -->
                    </div>
                    <!-- /.col-md-4 -->

                </div>
                <!-- /.container -->
    </section>



    <section class="flat-row background-black row-getaudit">
        <div class="row">

            <div class="col-md-12">
                <div class="title-section">

                    <h1 class="title">THE<span class="white">PROCESS</span></h1>

                </div>
            </div>


            <div class="col-md-3">
                <div class="iconbox center circle lagre">
                    <div class="box-header">
                        <img src="images/Allthelogo/apply.svg" alt="icon" style="height:150px;">
                        <div class="box-title">CHIMERS <span class="white">APPLY</span></div>
                    </div>
                </div>
                <!-- /.iconbox -->
            </div>
            <!-- /.col-md-4 -->



            <div class="col-md-3">
                <div class="iconbox center circle lagre">
                    <div class="box-header">
                        <img src="images/Allthelogo/approve.svg" alt="icon" style="height:150px;">
                        <div class="box-title">BRAND <span class="white">APPROVE</span></div>
                    </div>
                </div>
                <!-- /.iconbox -->
            </div>
            <!-- /.col-md-4 -->

            <div class="col-md-3">
                <div class="iconbox center circle lagre">
                    <div class="box-header">
                        <img src="images/Allthelogo/instagram.png" alt="icon" style="height:150px;">
                        <div class="box-title">CHIMERS <span class="white">POST</span></div>
                    </div>
                </div>
                <!-- /.iconbox -->
            </div>

            <div class="col-md-3">
                <div class="iconbox center circle lagre">
                    <div class="box-header">
                        <img src="images/Allthelogo/moneyapprove.svg" alt="icon" style="height:150px;">
                        <div class="box-title">PAYMENT <span class="white">APPROVED</span></div>
                    </div>
                </div>
                <!-- /.iconbox -->
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.container -->
    </section>







    <!-- Footer -->
    <footer class="footer">
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="widget widget-brand">
                            <div class="logo logo-footer">
                                <a href="#"><img src="images/Allthelogo/chimemaybe-black.png" width="40%" ; alt="Good News"></a>
                            </div>
                            <p>Singapore's <span class="blue" style="font-weight:bold;"> Community </span> For Sharing </p>
                        </div>
                        <!-- /.widget-brand -->
                        <div class="widget widget-social">
                            <h5 class="widget-title">Follow Us</h5>
                            <div class="social-list">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-youtube"></i></a>

                            </div>
                            Email: <a class="email" href="mailto:wearechime@gmail.com?Subject=Hello">Wearechime@gmail.com</a>
                        </div>
                        <!-- /.widget-social -->
                    </div>
                    <!-- /.col-md-4 -->

                    <div class="col-md-4">
                        <div class="widget widget-services clearfix">
                            <h5 class="widget-title">Quick Links</h5>
                            <ul class="one-half">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Brands</a></li>
                                <li><a href="#">Services</a></li>

                            </ul>

                            <ul class="one-half">

                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Login</a></li>
                            </ul>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="widget widget-newsletter">
                            <h5 class="widget-title">Subscribe Newsletter</h5>
                            <p>Get update from headquarters</p>
                            <form method="post" action="#" id="subscribe-form" data-mailchimp="true">
                                <div id="subscribe-content">
                                    <div class="input">
                                        <input type="text" id="subscribe-email" name="subscribe-email" placeholder="Your address e-mail">
                                    </div>
                                    <div class="button">
                                        <button type="button" id="subscribe-button" class="" title="Subscribe now"><i class="fa fa-paper-plane-o"></i></button>
                                    </div>
                                </div>
                                <div id="subscribe-msg"></div>
                            </form>
                        </div>
                        <!-- /.widget-newsletter -->
                    </div>

                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>© Copyright <a href="#"><span class="blue">Chime</span></a> 2016. All Rights Reserved.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.footer-widgets -->
    </footer>

    <a href="#header" class="toTop"> <i class="fa fa-angle-up"></i></a>




    </div>

    <!-- Javascript -->
    <script type="text/javascript" src="javascript/jquery.min.js"></script>
    <script type="text/javascript" src="javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascript/jquery.easing.js"></script>
    <script type="text/javascript" src="javascript/jquery-waypoints.js"></script>
    <script type="text/javascript" src="javascript/jquery.cookie.js"></script>
    <script type="text/javascript" src="javascript/jquery.fitvids.js"></script>
    <script type="text/javascript" src="javascript/parallax.js"></script>
    <script type="text/javascript" src="javascript/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="javascript/owl.carousel.js"></script>
    <script type="text/javascript" src="javascript/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="javascript/jquery-validate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("a[href='#header']").click(function () {
                $("html, body").animate({
                    scrollTop: 0
                }, "slow");
                return false;
            });
        });
    </script>
    <!--<script type="text/javascript" src="javascript/main.js"></script>-->

    <!-- Revolution Slider -->
    <script type="text/javascript" src="javascript/jquery.themepunch.tools.min.js"></script>

    <script type="text/javascript" src="javascript/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="javascript/slider.js"></script>
</body>

</html>