<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Chime || Services</title>

    <meta name="author">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="stylesheets/responsive.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="stylesheets/colors/color1.css" id="colors">

    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.css">

    <!--font awesome -->
    <link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- Favicon and touch icons  -->
    <link href="icon/apple-touch-icon-48-precomposed.html" rel="apple-touch-icon-precomposed" sizes="48x48">
    <link href="icon/apple-touch-icon-32-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="images/Allthelogo/bell.png" rel="shortcut icon">

    <!--[if lt IE 9]>
        <script src="javascript/html5shiv.js"></script>
        <script src="javascript/respond.min.js"></script>
    <![endif]-->
</head>

<body class="header_sticky">
    <!-- Header -->
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">

            <a href="home.html" class="navbar-brand" rel="home">
                <img src="images/Allthelogo/chimemaybe-black.png" class="chime-logo">
            </a>

            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
            <div class="collapse navbar-collapse navHeaderCollapse mainnav">
                <ul class="nav navbar-nav navbar-right">
                    <li> <a href="home.html">Home</a> </li>
                    <li><a href="brand.html">Brand</a></li>
                    <li class="home"><a href="services.html">FAQ</a></li>
                    <!-- <li><a href="work.html">Case Studies</a>
                                    </li>
                                    <li><a href="contact.html">Contact Us</a></li> -->
                    <li><a href="signup.html">Sign Up</a></li>
                    <li><a href="https://wearechime.herokuapp.com/">Login</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- /.header -->




    <section class="flat-row" style="background:#f9f9f9; padding:20px 20px 60px;">
        <div class="row-overlay"></div>
        <div class="container">
            <br />
            <h1 class="title" style="text-align:center;">Frequently Asked <span class="blue">Questions</span>:</h1><br>
            <br />
            <ol>

                <li>
                    <div class="FAQ-col">
                        1. Who are <span class="blue bold">Chimers</span> exactly?

                        <p class="FAQ-ans">
                            Chimers are everyday people who share about things they’re passionate about including food, fashion, sports, arts, and anything else under the sun.<br /><br/> Chimers have the freedom to be themselves and post content they
                            genuinely care about. Therefore, their opinions are highly trusted by their followers, who generally consist of trusted friends and family.
                            <br /><br/> Create an account <a class="blue" href="signup.html">here</a> to be our valued Chimer!
                        </p>

                    </div>
                </li>

                <li>
                    <div class="FAQ-col">
                        2. . Is it okay if I sign up without <span class="blue bold">meeting </span>the stated minimum requirements?

                        <p class="FAQ-ans">
                            We believe everyone has a voice and story to tell. We welcome anyone who is a passionate chimer so you can treat the requirements as a guideline.
                        </p>

                    </div>
                </li>
                <li>
                    <div class="FAQ-col">
                        3. Do <span class="blue bold">Chimers</span> have to pay to use Chime?

                        <p class="FAQ-ans">
                            There are no upfront or hidden fees when using Chime. It is 100% free. In fact, you will be rewarded with some cash for your effort in sharing about the things you love with your friend.
                        </p>

                    </div>
                </li>

                <li>
                    <div class="FAQ-col">
                        4. What benefits do I get as a <span class="blue bold">Chimer</span>?

                        <p class="FAQ-ans">
                            There are plenty of benefits that you can receive as a Chimer, like discounts on your food, free products, free services and many more. On top of that, you’ll receive a cash reward too.</p>

                    </div>
                </li>

                <li>
                    <div class="FAQ-col">
                        5. How much cash reward will I get as a <span class="blue bold">Chimer</span>?

                        <p class="FAQ-ans">
                            Chime’s algorithm will calculate your cash reward according to the number of impressions that your Instagram account garner per post. You will be able to see your cash reward beside every brand listing.
                    </div>
                </li>
                <li>
                    <div class="FAQ-col">
                        6. When will I receive my <span class="blue bold">cash</span> reward?

                        <p class="FAQ-ans">
                            The cash reward will be deposited directly into your bank account approximately 5 days after you have successfully Chimed about the brand you love. Hassle free. </div>
                </li>
                <li>
                    <div class="FAQ-col">
                        7. What kind of products and brands will I be able to <span class="blue bold">Chime</span> about?

                        <p class="FAQ-ans">
                            With the large variety of unique brands we work with, you can chime for just about any product or brand present in your city. The sky is the limit! We will do our best to suggest products and brands that we think suits your interests and personality </p>
                    </div>
                </li>

                <li>
                    <div class="FAQ-col">
                        8. Can I choose which brand or product to <span class="blue bold">Chime</span> for?

                        <p class="FAQ-ans">
                            The cash reward will be deposited directly into your bank account approximately 5 days after you have successfully Chimed about the brand you love. Hassle free.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="FAQ-col">
                        9. Am I allowed to delete my posts after <span class="blue bold">Chiming</span> for the brand?

                        <p class="FAQ-ans">
                            Being a Chimer is about sharing with others about things we like. Therefore, we highly encourage you to keep these Instagram pictures as they contain things you love or are truly passionate about – because that’s what makes you, you!
                            <br /><br/>However, we respect that you have autonomy over your own Instagram feed and thus, we strongly suggest that you keep these photos that you have Chimed for a reasonable period of time before deleting them
                        </p>
                    </div>
                </li>
                <li>
                    <div class="FAQ-col">
                        10. How does <span class="blue bold">Chime</span> handle the movement of cash rewards?

                        <p class="FAQ-ans">
                            The brands will firstly set a budget they wish to invest in advertising through Chime. This budget will be held by Chime in escrow. Chimers who successfully Chime for the brands they love will receive the budget in the form of cash rewards. Whereas Chime
                            would take 15% of it as commission.</p>
                    </div>
                </li>

            </ol>
        </div>
    </section>



    <!-- Footer -->
    <footer class="footer" style="background:#fff;">
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="widget widget-brand">
                            <div class="logo logo-footer">
                                <a href="#"><img src="images/Allthelogo/chimemaybe-black.png" width="40%" ; alt="Good News"></a>
                            </div>
                            <p>Singapore's <span class="blue" style="font-weight:bold;">Original</span> Microinfluencing Platform</p>
                        </div>
                        <!-- /.widget-brand -->
                        <div class="widget widget-social">
                            <h5 class="widget-title">Follow Us</h5>
                            <div class="social-list">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-youtube"></i></a>

                            </div>
                            Email: <a class="email" href="mailto:wearechime@gmail.com?Subject=Hello">Wearechime@gmail.com</a>
                        </div>
                        <!-- /.widget-social -->
                    </div>
                    <!-- /.col-md-4 -->

                    <div class="col-md-4">
                        <div class="widget widget-services clearfix">
                            <h5 class="widget-title">Quick Links</h5>
                            <ul class="one-half">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Brands</a></li>
                                <li><a href="#">Services</a></li>

                            </ul>

                            <ul class="one-half">

                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Login</a></li>
                            </ul>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="widget widget-newsletter">
                            <h5 class="widget-title">Subscribe Newsletter</h5>
                            <p>Get update from headquarters</p>
                            <form method="post" action="#" id="subscribe-form" data-mailchimp="true">
                                <div id="subscribe-content">
                                    <div class="input">
                                        <input type="text" id="subscribe-email" name="subscribe-email" placeholder="Your address e-mail">
                                    </div>
                                    <div class="button">
                                        <button type="button" id="subscribe-button" class="" title="Subscribe now"><i class="fa fa-paper-plane-o"></i></button>
                                    </div>
                                </div>
                                <div id="subscribe-msg"></div>
                            </form>
                        </div>
                        <!-- /.widget-newsletter -->
                    </div>

                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>© Copyright <a href="#"><span class="blue">Chime</span></a> 2016. All Rights Reserved.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.footer-widgets -->
    </footer>

    <a href="#header" class="toTop"> <i class="fa fa-angle-up"></i></a>




    </div>

    <!-- Javascript -->
    <script type="text/javascript" src="javascript/jquery.min.js"></script>
    <script type="text/javascript" src="javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascript/jquery.easing.js"></script>
    <script type="text/javascript" src="javascript/jquery-waypoints.js"></script>
    <script type="text/javascript" src="javascript/jquery.cookie.js"></script>
    <script type="text/javascript" src="javascript/jquery.fitvids.js"></script>
    <script type="text/javascript" src="javascript/parallax.js"></script>
    <script type="text/javascript" src="javascript/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="javascript/owl.carousel.js"></script>
    <script type="text/javascript" src="javascript/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="javascript/jquery-validate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("a[href='#header']").click(function() {
                $("html, body").animate({
                    scrollTop: 0
                }, "slow");
                return false;
            });
        });
    </script>
    <!--<script type="text/javascript" src="javascript/main.js"></script>-->

    <!-- Revolution Slider -->
    <script type="text/javascript" src="javascript/jquery.themepunch.tools.min.js"></script>

    <script type="text/javascript" src="javascript/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="javascript/slider.js"></script>
</body>

</html>